@{ 
    List<UserInfo> listOfAll = ViewBag.listOfAll;
    int dateMounth = ViewBag.dateMounth;
    int dateYear = ViewBag.dateYear;
}
<style>
    tr:hover {
    background-color: antiquewhite;
    }
    tr:hover.warning{
        background-color:red;
        color:white;
        font-weight:bold;
        
    }

    tr:hover.warning a{
        cursor: pointer;
    }

    i {
        cursor: pointer;
    }
    
    body{
        cursor: default;
    }
</style>

    <table style="width:100%; font-size:1.1em; text-align: center;" class="table">
        @foreach (UserInfo info in listOfAll)
        {
            <tr>
                <td width="10%">@info.Date.ToString("dd/MM/yy")</td>
                <td width="10%">@info.Sum</td>
                <td width="10%">@info.ExpenderOrIncome</td>
                <td width="15%">@info.Type</td>
                <td width="40%">@info.FurtherInformation</td>
                <td width="15%" onmouseover="TurnToWarning(this)" onmouseout="OffWarning(this)"><a onclick="DeleteFromUserInfo(this)">Click To Delete</a></td>
                <td style="visibility:hidden">@info.InfoID</td>
            </tr>
        }
    </table>

<div style="text-align: center"><!--Fix possition through this <div>-->
    <i class="fas fa-angle-double-left" style="cursor:pointer" onclick="prevPage()">  </i>
    <span id="mounth">@dateMounth</span>/<span id="year">@dateYear</span>
    @if (dateMounth < DateTime.Now.Month || dateYear<DateTime.Now.Year)
    {
        <i class="fas fa-angle-double-right" style="cursor:pointer" onclick="nextPage()"></i>
    }
</div>

<script>
    
    function DeleteFromUserInfo(element) {
        var infoId = element.parentNode.nextSibling.nextSibling.innerHTML;
        location.replace("/Personal/DeleteFromUserrInfo?infoId=" + infoId);
    }

    function TurnToWarning(element) {
        var newStyle = element.parentNode;
        newStyle.setAttribute("class", "warning");
    }

    function OffWarning(element) {
        var newStyle = element.parentNode;
        newStyle.removeAttribute("class");
        }

    function prevPage() {
        var toMounth
        var toYear;
        if (document.getElementById('mounth').innerHTML > 1) {
            toMounth = document.getElementById('mounth').innerHTML - 1;
            toYear = document.getElementById('year').innerHTML;
        }
        else {
            toMounth = 12;
            toYear=parseInt(document.getElementById('year').innerHTML)-1
        }
        location.replace('/personal/index?mounth=' + toMounth + "&&year=" + toYear);
    }

    function nextPage() {
        var toMounth = parseInt(document.getElementById('mounth').innerHTML) + 1;
        location.replace('/personal/index?mounth=' + toMounth);
    }
</script>